html, body {
    padding: 0;
    margin: 0;
}

html, body, main {
    height: 100%;
    width: 100%;
}

main {
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 100px 0;
}

#sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
